body {
  margin: 0px;
  padding: 0px;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.main-container {
  width: 300px;
  height: 700px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 10px 1px black;
  overflow: hidden;
  display: inline-block;
}
.top-container {
  height: 150px;
  background: cornflowerblue;
}
.image-container {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(100px, 100px);
  position: relative;
  bottom: 50px;
}
.image-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.bottom-container {
  height: 280px;
  background: #fff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}
.bottom-container h3,
h4 {
  box-sizing: border-box;
  font-weight: lighter;
}

.bottom-container p {
  font-size: 12px;
  color: gray;
  margin-bottom: 30px;
}

ul li {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}
.four {
  float: left;
}

.left-top {
  float: left;
  position: relative;
  top: 10px;
  transform: translateX(10%);
  height: 40px;
  width: 40px;
  background-color: cornflowerblue;
  border-radius: 50%;
}
.left-bottom {
  float: left;
  position: relative;
  top: 450px;
  width: 150px;
  height: 150px;
  transform: translateX(-40%);
  background-color: cornflowerblue;
  border-radius: 50%;
}
.right-top {
  float: right;
  position: relative;
  top: 10px;
  transform: translateX(10%);
  height: 150px;
  width: 150px;
  background-color: cornflowerblue;
  border-radius: 50%;
}
.right-bottom {
  float: right;
  position: relative;
  top: 750px;
  left: 180px;
  height: 150px;
  width: 150px;
  background-color: cornflowerblue;
  border-radius: 50%;
}
.main-content {
  border: 1px solid none;
  box-shadow: 5px 5px 5px 5px grey;
  border-radius: 10px 10px;
  position: relative;
  bottom: 80px;
  padding: 10px;
}

h6 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
}

nav {
  border: 1px solid white;
  box-shadow: 0px 5px 5px -5px grey;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding: 5px;
  border: 1px solid none;
  box-shadow: 0px -5px 5px -5px grey;
  position: relative;
  top: 3vh;
  left: -3vw;
  width: 300px;
}

footer {
  display: flex;
  flex-direction: column;
}
